* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

.overlay {
    background-image: url('../img/bg1.jpg'); 
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid white; 
    padding: 10px 20px; 
    margin: 0 150px; 
    position: fixed; 
    width: calc(100% - 300px); /* لضبط عرض الهيدر بالكامل */
    top: 0; 
    z-index: 2; 
    transition: background 0.3s;
}

.header.scrolled {
    background-color: black; 
}

.header-left {
    flex: 1; 
    font-size: 24px; 
}

.header-right {
    display: flex; 
    justify-content: flex-end;
}

header nav {
    display: flex; 
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px; 
    font-size: 16px; 
    font-weight: bold;
}

header nav a:first-child {
    margin-left: 30px; /* زحزحة من عند كلمة Home */
}

header nav a:hover {
    color: lightgray; 
}

.search-icon {
    margin-left: 20px;
    cursor: pointer;
}

.search-icon i {
    font-size: 18px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    padding: 20px 0;
    width: 100%;
    z-index: 2; 
    margin-top: 80px; 
    height: 100%; 
}

.child {
    display: flex;
    align-items: center; 
    color: white;
    margin: 0 10px; 
}

.child p {
    font-size: 30px;
    font-weight: bold;
    border: 6px solid gray; 
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.child p.active {
    color: white; 
    border: 6px solid blue; 
    border-left: 6px solid white; 
}

.child h3 {
    font-size: 18px;
    margin: 0; 
    margin-left: 10px;
    max-width: 300px; 
}



/**********************************/
/**********************************/
#main {
    display: flex; 
    justify-content: space-between; 
    align-items: start; 
    margin: 30px 5%;
    height: 600px;
}

.w-60 {
    width: 60%; 
}



#main header {
    color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(22, 22, 22);
}



#main header nav {
    display: flex;
    align-items: center;
    justify-content: end;
}

#main header a {
    text-decoration: none;
    color: rgba(161, 161, 161, 0.566);
    margin: 0 12px;
    font-size: 15px;
}

#main header a:hover {
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.leftone{
    font-size: 15px;
    box-shadow: 0px 0px 5px 5px     rgba(204, 204, 204, 0.438);
   height: 420px;
    width: 45%;
    margin: 10px;
}

.leftone p{
margin-left: 15px;
margin-bottom: 10px;
    font-size: 19px;}
.leftone h6{
    margin-left: 15px;
    font-size: 15px;
    margin-bottom: 10px;
color: rgb(165, 165, 165);}

.discreption p{
    color:rgb(165, 165, 165);
    font-size: 13px;
margin-left: 15px;
margin-top:45px;}
.discreption p:hover{
    color: blue;
    cursor: pointer;
        transition: all 0.3s ease-in-out;

}

.leftone i{
    font-size: 20px;
    margin-left: 10px;
    padding-top:100px;


    color: rgb(165, 165, 165);
}
.leftone i:hover{
color: blue;
cursor: pointer;
transition: all 0.3s ease-in-out;

}

.rightone{
    margin: 10px;
    width: 60%;
}
.rightone article{
    display: flex;
    flex-direction: row;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px     rgba(204, 204, 204, 0.438);

}
.rightone p{
    margin: 10px;
    font-size: 14px;
}
.rightone h6{
    margin: 10px;
    font-size: 10px;
    color:rgb(165, 165, 165);
}
.rightone h6:hover{
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.rightone img{
    cursor: pointer;
}
.leftall{
    display: flex;
}


.w-30 {
    height: 100%;
      width: 30%; 
     border-left: 2px solid rgb(165, 165, 165);
     margin-right: 100px;
  }
  .w-30 p{
     color:rgb(0, 0, 0);
margin: 30px;
font-size: 18px;
  }

  .w-30 h3{
    border-bottom: 1px solid rgb(165, 165, 165);
    border-top: 1px solid rgb(165, 165, 165);
    padding-left: 60px;

  }
  .w-30 article{
    display: flex;
    flex-direction: row;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px     rgba(204, 204, 204, 0.438);

}
  .w-30 img{
    width: 30%;
    height:30%;
    
  }
  .w-30 i{
    font-size: 50px;
    color:rgb(165, 165, 165);
    padding: 13px;
    margin-top: 23px;
    margin-left: 29px;
    margin-bottom: 29px;

    border-radius: 50%;
    border: 3px solid rgb(165, 165, 165);
  }
  .w-30 i:hover{
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }


  .w-30 p:hover{
    color: blue;
    transition: all 0.3s ease-in-out;
    cursor:pointer;

}
.rightbot img{
width:70%;
margin-top: 20px;
margin-left: 30px;
height: 210px;
cursor: pointer;
}
.rightbot p{
    margin-left: 30px;
color: black;
    font-size: 22px;
width: 70%;}




#mainE {
    display: flex;  
    align-items: flex-start; 
    margin: 30px 5%; 
}

.w-60E {
    width: 80%; 
}

#mainE .w-60E header nav a{
font-size: 15px;
}

#mainE header {
    color: rgb(24, 24, 24);
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(22, 22, 22);
}
.leftallE{
    display: flex;
    width: 79%;
}


#mainE header nav {
    display: flex;
    align-items: center;
    justify-content: end;
}

#mainE header a {
    text-decoration: none;
    color: rgba(161, 161, 161, 0.566);
    margin: 0 12px;
    font-size: 15px;
    
}

#mainE header a:hover {
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.leftoneE{
    font-size: 15px;
    box-shadow: 0px 0px 5px 5px     rgba(204, 204, 204, 0.438);
   height: 420px;
    width: 45%;
    margin: 10px;
}
.leftoneE img{
width:100%;
margin: 0;
height: 210px;
cursor: pointer;
}
.leftoneE p{
margin-left: 15px;
margin-bottom: 10px;
    font-size: 19px;}
.leftoneE h6{
    margin-left: 15px;
    font-size: 15px;
    margin-bottom: 10px;
color: rgb(165, 165, 165);}

.discreptionE p{
    color:rgb(165, 165, 165);
    font-size: 13px;
margin-left: 15px;
margin-top:45px;}
.discreptionE p:hover{
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.leftoneE i{
    font-size: 20px;
    margin-left: 10px;
    padding-top:100px;
    color: rgb(165, 165, 165);
}
.leftoneE i:hover{
color: blue;
cursor: pointer;
transition: all 0.3s ease-in-out;

}
.rightoneE{
    margin: 5px;
    width: 74%;
    display: flex;
}
.rightoneE article{
    display: flex;
    flex-direction: row;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px     rgba(204, 204, 204, 0.438);

}
.rightoneE p{
    margin: 10px;
    font-size: 14px;
}
.rightoneE h6{
    margin: 10px;
    font-size: 10px;
    color:rgb(165, 165, 165);
}
.rightoneE h6:hover{
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.rightoneE img{
    cursor: pointer;
}

.iconE i{
   
    margin-left: 10px;
    padding-top:100px;
    color: rgb(165, 165, 165);
}
.iconE i:hover{
color: blue;
cursor: pointer;
transition: all 0.3s ease-in-out;

}
.leftallG{
    width:50%;
}
.page3G {
    display: flex;
    justify-content: center;
}

.leftoneG {
    width: 25%; /* Adjust width as needed */
    margin: 10px;
}
.leftoneG img{
height: 210px;
cursor: pointer;
}
.leftoneG p{
margin-left: 15px;
margin-bottom: 10px;
    font-size: 19px;}
.leftoneG h6{
    margin-left: 15px;
    font-size: 15px;
    margin-bottom: 10px;
color: rgb(165, 165, 165);}

.discreptionG p{
    color:rgb(165, 165, 165);
    font-size: 13px;
margin-left: 15px;
margin-top:45px;}
.discreptionG p:hover{
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}


.leftallx {
  display: flex;
  width: 80%;
  justify-content: space-between; /* Ensures equal spacing between cards */
  margin-left: 50px;    
  gap: 20px; /* Adds space between each card */
}

.leftonex {
  background-color: #2E4A7A; 
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: calc(33.33% - 20px); /* Adjusts width to account for the gap */
  transition: transform 0.3s;
  position: relative;
}

.leftonex:hover {
  transform: scale(1.05); 
}

.leftonex img {
  width: 100%;
  height: auto; 
}

.content {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); 
  padding: 15px;
}

.category {
  background-color: #fff; 
  color: #2E4A7A; 
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.leftonex h6 {
  font-size: 16px;
  margin: 10px 0;
}

.leftonex p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.leftonex h6 {
  font-size: 16px;
  margin: 10px 0;
}

.leftonex p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}


#mainA {
    display: flex; 
    justify-content: space-between; 
    align-items: start; 
    margin: 30px 5%;
    height: 600px;
}

.w-60A {
    width: 60%; 
}



#mainA header {
    color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(22, 22, 22);
}



#mainA header nav {
    display: flex;
    align-items: center;
    justify-content: end;
}

#mainA header a {
    text-decoration: none;
    color: rgba(161, 161, 161, 0.566);
    margin: 0 12px;
    font-size: 25px;
}

#mainA header a:hover {
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.leftoneA{
    font-size: 15px;
    box-shadow: 0px 0px 5px 5px     rgba(204, 204, 204, 0.438);
   height: 420px;
    width: 45%;
    margin: 10px;
}
.leftone img{
width:100%;
margin: 0;
height: 210px;
cursor: pointer;
}
.leftoneA p{
margin-left: 15px;
margin-bottom: 10px;
    font-size: 19px;}
.leftoneA h6{
    margin-left: 15px;
    font-size: 10px;
    margin-bottom: 10px;
color: rgb(165, 165, 165);}

.discreptionA p{
    color:rgb(165, 165, 165);
    font-size: 13px;
margin-left: 15px;
margin-top:45px;}
.discreptionA p:hover{
    color: blue;
    cursor: pointer;
        transition: all 0.3s ease-in-out;

}

.leftoneA i{
    font-size: 40px;
    margin-left: 10px;
    padding-top:100px;


    color: rgb(165, 165, 165);
}
.leftoneA i:hover{
color: blue;
cursor: pointer;
transition: all 0.3s ease-in-out;

}

.rightoneA{
    margin: 10px;
    width: 60%;
    font-size: 10px;
}
.rightoneA article{
    display: flex;
    flex-direction: row;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px     rgba(204, 204, 204, 0.438);

}
.rightoneA p{
    margin: 10px;
    font-size: 10px;
}
.rightoneA h6{
    margin: 10px;
    font-size: 10px;
    color:rgb(165, 165, 165);
}
.rightoneA h6:hover{
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.rightoneA img{
    cursor: pointer;
}


.w-30A {
      width: 30%; 
         margin-right: 100px;
  }
  .w-30A p{
     color:rgb(0, 0, 0);
margin: 30px;
font-size: 10px;
  }

  .w-30A h3{
    border-bottom: 1px solid rgb(165, 165, 165);
    border-top: 1px solid rgb(165, 165, 165);
    padding-left: 60px;

  }
  .w-30A article{
    display: flex;
    flex-direction: row;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px     rgba(204, 204, 204, 0.438);

}

.arttwoA{
height: 200px;
}
.arttwoA p{
    font-size: 25px;
}
#mainA h1{
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 50px;
}
#mainA .arttwoA p{
    font-size: 30px;
}




footer {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    height: 100px;  
    margin-top: 300px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-content p {
    font-size: 14px;
    margin: 0; /* إزالة أي هوامش إضافية */
}

.social-icons {
    display: flex;
    justify-content: space-around;
    flex: 1; /* لجعل هذه الكتلة تأخذ جزء أكبر من المساحة المتاحة */
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer-single-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* لجعل هذه الكتلة تأخذ جزء أكبر من المساحة المتاحة */
}

.footer-single-widget form {
    display: flex;
    align-items: center;
}

.footer-single-widget input[type="email"] {
    width: 150px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.footer-single-widget button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

